<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="AgiltronConnectionString" connectionString="Data Source=V-APQ-DEV;Initial Catalog=Agiltron;Persist Security Info=True;User ID=sa;Password=f" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="Str1" value="Str1"/>

		<!-- 配置文件默认后缀 -->
		<!--<add key="Apq.Config.ApqConfigs.XmlConfigExt" value="apq"/>-->
	</appSettings>
</configuration>
