<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ResourceFilePath" value="Res\ConnResourceSA.res"/>
		<add key="Url" value="http://lwservice.passport.21mmo.com:1019/userinfo.asmx"/>
	</appSettings>

	<system.net>
		<defaultProxy enabled="false">
		</defaultProxy>
	</system.net>
</configuration>