<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Apq.DBC.Properties.Settings.Apq_DBAConnectionString"
            connectionString="Data Source=.;Initial Catalog=Apq_DBA;Persist Security Info=True;User ID=apq;Password=f"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>